# copy to application.properties and fill in values

spring.application.name=wynnextras_server
spring.datasource.url=jdbc:postgresql://localhost:5432/wynnextras
spring.datasource.username=yourUser
spring.datasource.password=yourPassword

spring.jpa.hibernate.ddl-auto=update
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.open-in-view=false
